.justify-content-start {
    justify-content: flex-start ;
}
.menCard {
width: 20%;
flex-direction: column;
position: relative;
transform: scale(0.9);
transition: all 0.3s ease-in-out;
margin-bottom: 40px;
background-color: #f4f4f4;
}
.menCard_img {
background: white;
}
.menCard .menCard_img img {
display: block;
margin-left: auto;
margin-right: auto;
}
.menCard .menCard_header {
flex-direction: column;
color: #000;
margin: 25px 0;
display: flex;
text-align: center;
}
.menCard .menCard_header h2 {
font-size: 18px;
}
.menCard .menCard_header p {
font-size: 14px;
text-align: center;
color: rgba(0, 0, 0, 0.5);
margin: 8px 0;
}
.menCard .menCard_header .price {
font-size: 24px;
color: #c9151b;
}
.menCard .menCard_header .price span {
font-size: 24px;
display: inline-block;
vertical-align: top;
}
.menCard:hover {
background-color: #333333;
transform: scale(1);
cursor: pointer;
}
.menCard:hover .btn {
background-color: #c9151b;
color: #fff;
}
.menCard:hover p {
color: #fff;
}
.menCard:hover .menCard_header {
color: #fff;
}
@media (max-width: 1200px){
    .menCard {
        width: 25%;
    }
}
@media (max-width: 992px){
.menCard {
    width: 33%;
}
}
@media (max-width: 768px){
.menCard {
    width: 50%;
}}
@media (max-width: 500px){
.menCard {
    width: 77%;
    margin: auto;
}
}
@media (max-width: 400px){
.menCard {
    width: 100%;
}
}
@media (min-width:766px) and (max-width:992px) {
.menCard_header h2 ,.menCard_header p {
    width: 230px !important;
}
}
@media (min-width:100px) {
.menCard_header h2,.menCard_header p {
    padding: 0 10px;
    display: inline-block;
    width: auto;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
}
.fWrap {
    flex-wrap: wrap;
}
.loadMore {
    background: #333333;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 25px;
}
.loadMore:hover {
    background: #c9151b;
    color: #fff;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.emptyTitle {
    color: var(--theme-color);
    display: grid;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: none;
    align-items: center;
}
.emptyTitle h1 {
    font-size: 20px;
    font-weight: 500;
    align-self: center;
}
.mt-100{
    margin-top: 100px;
}